
:root {

	// Define color values (for site UI)
	--colorvalue-cream-dark: #eae3d1;
	--colorvalue-cream: #f7f5f0;
	--colorvalue-gray-light: #707070;
	--colorvalue-gray: #333;
	--colorvalue-gray-dark: #222;
	--colorvalue-green-dark: #3f6f3b;
	--colorvalue-green-light: #cae8a7;
	--colorvalue-green: #7db578;
	--colorvalue-purple: #7f629c;
	--colorvalue-white: #fff;
	--colorvalue-white-dark: #dedede;
	--colorvalue-yellow: #fff2b3;
	--colorvalue-yellow-dark: #ffd600;
	--colorvalue-blue: #31a6ff;
	--colorvalue-orange: #f39e24;
	--colorvalue-red: #ff3131;
	--colorvalue-red-light: #fcc;

	// Define color use-cases
	--color-site-background: var(--colorvalue-cream);
	--color-content-background: var(--colorvalue-white);
	--color-content-text: var(--colorvalue-gray);
	--color-accent-primary: var(--colorvalue-green);
	--color-accent-secondary: var(--colorvalue-green-light);
	--color-link: var(--colorvalue-green-dark);
	--color-link-visited: var(--colorvalue-purple);
	--color-focus: var(--colorvalue-blue);
	--color-error: var(--colorvalue-red);
	--color-error-light: var(--colorvalue-red-light);

}
