
// Icon placeholder
%icon {
	&, &:hover {
		background-origin: content-box;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		overflow: hidden;
		text-indent: -10000px;
	}
}
