
// Base typography placeholder
%base-typography {
	color: var(--color-content-text);
	font-family: var(--font-family-body);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
}
