
// Breadcrumb block
.breadcrumb {
	@extend %base-typography;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	color: var(--colorvalue-gray-light);

	> ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

// Breadcrumb item element
.breadcrumb__item {
	display: flex;
	padding-right: var(--spacing-rule);

	a {
		padding-right: var(--spacing-rule);
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	&:not(:last-child)::after {
		content: "►";
		font-size: var(--spacing-rule);
	}
}
