
// Content summary block
.content-summary {
	@extend %base-typography;
	padding-left: var(--spacing-line);
	position: relative;

	&::before {
		@extend %icon;
		content: "Unread";
		position: absolute;
		left: 0;
		top: calc(var(--spacing-half-line) / 2);
		background-image: url("/icons/status-unread.svg");
		width: var(--spacing-half-line);
		height: var(--spacing-half-line);
	}
}

// Content summary "read" modifier
.content-summary--read {
	color: var(--colorvalue-gray-light);

	&::before {
		content: "Read";
		background-image: url("/icons/status-read.svg");
	}
}

// Content summary headline element
.content-summary__headline {
	> h2 {
		font-family: var(--font-family-heading);
		font-size: var(--font-size-h3);
		font-weight: normal;
		line-height: var(--line-height-h3);
		margin-bottom: var(--spacing-half-line);
		margin-top: 0;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
		text-decoration-color: var(--content-highlight-border-color);
	}
}

// Content summary meta element
.content-summary__meta {
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin: 0;

	a {
		@extend %link;
	}
}

// Content summary error element
.content-summary__error {
	color: var(--color-error);
}
