
// Content list block
.content-list {
	list-style: none;
	padding-left: 0;
	margin: 0;

	> li {
		display: block;
	}
	> li:not(:last-child) {
		margin-bottom: var(--spacing-line);
	}
}

// Content list item element
.content-list__item {
	background-color: var(--color-content-background);
	padding: var(--spacingvalue-m);
	border-radius: var(--spacingvalue-xs);
}
