
// Content head block
.content-head {
	@extend %base-typography;
	margin-bottom: var(--spacing-line);
	display: flex;
	flex-wrap: wrap;
}

// Content head title element
.content-head__title {
	font-size: var(--font-size-title);
	line-height: var(--line-height-title);
	font-family: var(--font-family-heading);
	font-weight: normal;
	margin: 0;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

// Content head links element
.content-head__links {
	line-height: var(--line-height-title);

	> ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	
		> li {
			margin-left: var(--spacingvalue-s);
		}
	}
}

// Content head meta element
.content-head__meta {
	box-sizing: border-box;
	flex: 0 0 100%;
	font-size: var(--font-size-small);
	margin: var(--spacing-half-line) 0 0 0;
}

// Content head source element
.content-head__source {
	box-sizing: border-box;
	flex: 0 0 100%;
	margin: var(--spacing-half-line) 0 0 0;
}

// Content head icon element
.content-head__icon {
	@extend %icon;

	&, &:hover {
		width: var(--spacing-line);
	}
}

// Content head icon element, "feed" modifier
.content-head__icon--feed {
	background-image: url("/icons/feed.svg");
}
