
// Content body block
.content-body {
	--gutter-width: var(--spacingvalue-l);

	@extend %base-typography;
	background-color: var(--color-content-background);
	border-radius: var(--spacingvalue-xs);
	padding: var(--spacingvalue-xxl) var(--gutter-width);
	margin-bottom: var(--spacing-line);

	@media (min-width: $breakpoint-mobile) {
		--gutter-width: var(--spacingvalue-xl);
	}


	// GENERAL MARGINS AND SPACING
	// ===========================

	// Reset default margins
	blockquote, caption, details, dl, figure, h1, h2, h3, h4, h5, h6, hgroup, hr, ol, p, pre, table, ul {
		margin-top: 0;
		margin-bottom: var(--spacing-line);
	}

	// Remove first and last child margins to avoid messing with padding
	> :first-child {
		margin-top: 0 !important;
	}
	> :last-child {
		margin-bottom: 0 !important;
	}


	// INLINE TEXT
	// ===========

	// Links
	a {
		@extend %link;
	}

	// Abbreviations
	abbr {
		cursor: help;
	}

	// Citations
	cite {
		font-style: italic;
	}

	// Inline code, keyboard input, and sampled output
	code, kbd, samp {
		background-color: var(--colorvalue-cream);
		border-radius: var(--spacingvalue-xs);
		font-family: var(--font-family-monospace);
		padding: calc(var(--spacing-rule) / 2) var(--spacing-rule);
	}

	// Marked text
	mark {
		background-color: var(--colorvalue-yellow);
		border-radius: var(--spacingvalue-xs);
		padding: calc(var(--spacing-rule) / 2) var(--spacing-rule);
	}

	// Inline quotations
	q {
		font-style: italic;

		&::before {
			content: "“";
		}
		&::after {
			content: "”";
		}
	}

	// Small, subscript, and superscript
	small, sub, sup {
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
	}

	// Variable elements
	var {
		font-style: italic;
		font-weight: bold;
	}


	// HEADINGS
	// ========

	// Reset heading element font weights
	caption, dt, h6, h5, h4, h3, h2, h1, th {
		font-weight: normal;
	}

	// Heading level 1 elements
	h1 {
		font-size: var(--font-size-title);
		line-height: var(--line-height-title);
		font-family: var(--font-family-heading);
	}

	// Heading level 2 elements
	h2 {
		border-bottom: calc(var(--spacing-rule) / 2) solid var(--colorvalue-cream);
		font-family: var(--font-family-heading);
		font-size: var(--font-size-subheading);
		line-height: var(--line-height-subheading);
		margin-top: var(--spacing-double-line);
		padding-bottom: var(--spacing-rule);
	}

	// Heading level 3 elements
	h3 {
		font-family: var(--font-family-heading);
		font-size: var(--font-size-h3);
		line-height: var(--line-height-h3);
	}

	// Heading level 4 elements
	h4 {
		font-family: var(--font-family-heading);
		font-size: var(--font-size-h4);
		line-height: var(--line-height-h4);
	}

	// Heading level 5 elements
	h5 {
		font-size: var(--font-size-h5);
		line-height: var(--line-height-h5);
		font-weight: bold;
	}

	// Heading level 6 elements
	h6 {
		font-size: var(--font-size-h6);
		line-height: var(--line-height-h6);
		font-weight: bold;
	}

	// Heading groups
	hgroup {
		margin-top: var(--spacing-double-line);

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0;
			margin-top: 0;
		}
		h2, h3, h4, h5, h6 {
			margin-top: 0;
			color: var(--colorvalue-gray-light);
		}
	}


	// LISTS
	// =====

	// Ordered and unordered lists
	ol, ul {
		padding-left: var(--spacing-onepointfive-line);

		ol, ul {
			margin-bottom: 0;
		}
	}

	// Description list
	dt {
		font-weight: bold;
		margin-top: var(--spacing-half-line);
	}
	dd {
		padding-left: var(--spacing-line);
		margin-left: 0;
	}


	// CONTENT BLOCKS
	// ==============

	// Code blocks
	pre {
		background-color: var(--colorvalue-cream);
		border-radius: var(--spacingvalue-xs);
		font-family: var(--font-family-monospace);
		max-width: 100%;
		overflow: auto;
		padding: var(--spacing-rule);

		> code {
			background-color: var(--colorvalue-gray-dark);
			border-radius: 0;
			color: var(--colorvalue-white-dark);
			display: block;
			max-width: 100%;
			overflow: auto;
			padding: var(--spacing-half-line);
		}
	}

	// Horizontal rules
	hr {
		border: none;
		border-top: var(--spacing-rule) solid var(--colorvalue-cream);
		color: var(--colorvalue-cream);
		height: 0;
		margin-bottom: var(--spacing-double-line);
	}

	// Blockquotes
	// TODO
	blockquote {
		// Using RGBA here fixes a known Safari bug with transparent gradients
		// https://stackoverflow.com/q/38391457/186241
		background-image: linear-gradient(90deg, var(--colorvalue-cream), rgba(255,255,255,0));
		background-size: var(--spacing-half-line) 100%;
		background-repeat: no-repeat;
		border-left: calc(var(--spacing-rule) * 0.5) solid var(--colorvalue-cream-dark);
		margin-left: var(--spacing-line);
		margin-right: 0;
		padding: 0;
		padding-left: var(--spacing-line);

		p {
			margin-bottom: var(--spacing-half-line);
		}
	}

	// Details / summary element
	details {
		padding-left: var(--spacing-line);
	}
	summary {
		font-style: italic;
		font-weight: bold;
		list-style: none;
		margin-bottom: var(--spacing-half-line);
	}
	summary::-webkit-details-marker {
		display: none;
	}
	summary::before {
		border: solid 1px var(--colorvalue-cream-dark);
		color: var(--colorvalue-gray-light);
		content: "+";
		display: inline-block;
		font-size: var(--font-size-small);
		font-style: normal;
		height: var(--spacing-line);
		margin-left: -24px;
		margin-right: var(--spacing-rule);
		text-align: center;
		width: var(--spacing-line);
	}
	details[open] summary::before {
		content: "-";
	}

	// Tables
	.table-wrapper {
		overflow: auto;
	}
	table {
		--table-border: 1px solid var(--colorvalue-cream-dark);
		border-bottom: var(--table-border);
		border-collapse: collapse;
		border-right: var(--table-border);
		overflow: auto;
		min-width: 100%;
	}
	caption {
		margin-bottom: var(--spacing-half-line);
	}
	caption, th {
		font-weight: bold;
		text-align: left;
	}
	tbody tr:nth-child(even) td {
		background-color: var(--colorvalue-cream);
	}
	th {
		background-color: var(--colorvalue-cream-dark);
	}
	td, th {
		padding: var(--spacing-rule);
		border-top: var(--table-border);
		border-left: var(--table-border);
	}
	tfoot {
		td, th {
			border-top: 2px solid var(--colorvalue-cream-dark);
		}
	}


	// MEDIA AND FIGURES
	// =================

	// Figures, images, picture, audio, and video elements
	figure, img, picture, audio, video {
		box-sizing: border-box;
		background-color: var(--colorvalue-cream);
		border-radius: var(--spacingvalue-xs);
		border: solid var(--spacing-rule) var(--colorvalue-cream);
		width: auto;
		max-width: 100%;
	}
	audio, video {
		width: 100%;
		margin-bottom: var(--spacing-line);
	}
	figure {
		margin-left: 0;
		margin-right: 0;
		width: fit-content;
	}
	figcaption {
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
		text-align: center;

		&:first-child {
			padding-bottom: var(--spacing-rule);
		}
		&:last-child {
			padding-top: var(--spacing-rule);
		}
	}
	figure img,
	figure picture {
		border: none;
		border-radius: 0;
		display: block;
		margin: 0 auto;
	}

	// Blockquotes in figures need some special treatment
	figure blockquote {
		background-color: var(--color-content-background);
		background-image: none;
		border-left: none;
		margin: 0;
		padding: var(--spacing-half-line);
	}

	// Unrenderable content
	.unrenderable {
		box-sizing: border-box;
		background-color: var(--colorvalue-blue-light);
		padding: var(--spacing-half-line);
		margin-bottom: var(--spacing-line);
		border: solid 1px var(--colorvalue-blue);
	}
	figure .unrenderable {
		margin: 0;
	}

}

// Content body block, "audio", "image", and "video" modifiers
.content-body--audio audio,
.content-body--image img,
.content-body--video video {
	padding: 0;
	border: none;
}
