
// Content head block
.content-head {
	@extend %base-typography;
	margin-bottom: var(--spacing-line);
}

// Content head title element
.content-head__title {
	font-size: var(--font-size-title);
	line-height: var(--line-height-title);
	font-family: var(--font-family-heading);
	font-weight: normal;
	margin: 0;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}
