
// Form block
.form {
	@extend %base-typography;
	margin-bottom: var(--spacing-line);
}

// Form submit element
// TODO review this
.form__submit {
	border: none;
	background-color: var(--colorvalue-cream-dark);
	font-size: var(--font-size-small);
	padding: var(--spacing-rule);
	border: 2px solid var(--colorvalue-cream-dark);
	line-height: var(--line-height-small);

	&:focus {
		border-color: var(--color-focus);
		outline: none;
	}
}

// Form submit element "danger" modifier
.form__submit--danger {
	background-color: var(--color-error-light);
	border-color: var(--color-error-light);

	&:focus {
		border-color: var(--color-error);
	}
}
