
// Header block
.header {
	@extend %base-typography;
	--color-header-background: var(--color-site-background);
	
	background-color: var(--color-header-background);
	border-top: var(--spacing-rule) solid var(--color-accent-primary);

	&::before {
		content: "";
		display: block;
		border-top: var(--spacing-rule) solid var(--color-accent-secondary);
	}
}

// Header link style overrides
.header a {
	color: inherit;
	text-decoration: none;
	display: block;

	&:hover {
		text-decoration: underline;
	}
}

// Header inner element
.header__inner {
	@extend %layout-inner;
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--spacingvalue-s);
	padding-top: var(--spacingvalue-s);

	@media (max-width: $layout-width-mobile) {
		flex-direction: column;
	}
}

// Header site name element
.header__site-name {
	font-family: var(--font-family-heading);
	font-size: 20px;
	font-weight: normal;
	margin-right: var(--spacingvalue-xs);

	@media (max-width: $layout-width-mobile) {
		margin-bottom: var(--spacingvalue-xs);
		margin-right: 0;
	}
}

// Header navigation element
.header__navigation {
	@media (max-width: $layout-width-mobile) {
		font-size: var(--font-size-small);
		margin-left: calc(-1 * var(--spacingvalue-xxs));
	}

	> ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;

		> li:not(:first-child) {
			margin-left: var(--spacingvalue-xxs);
		}
	}
}

// Header navigation item element
.header__navigation-item {
	> a {
		padding-left: var(--spacingvalue-xxs);
		padding-right: var(--spacingvalue-xxs);
		border-radius: var(--spacingvalue-xxs);

		&:hover {
			background-color: var(--colorvalue-cream-dark);
		}
	}
}

// Header navigation item element, "selected" modifier
.header__navigation-item--selected {
	> a {
		&, &:hover {
			background-color: var(--color-accent-secondary);
		}
	}
}

// Header icon element
.header__icon {
	@extend %icon;

	&, &:hover {
		background-color: transparent !important;
		margin: 0;
		padding-right: 0 !important;
		width: var(--spacing-line);

		@media all and (max-width: $layout-width-mobile) {
			width: calc(var(--spacing-line) - var(--spacingvalue-xxs));
		}
	}
}

// Header icon element, "github" modifier
.header__icon--github {
	background-image: url("/icons/github.svg");
}

// Header icon element, "twitter" modifier
.header__icon--twitter {
	background-image: url("/icons/twitter.svg");
}
