
// Hero block
.hero {
	@extend %base-typography;
	--color-hero-background-top: var(--colorvalue-white);
	--color-hero-background-bottom: var(--colorvalue-cream);
	--color-hero-text: var(--color-content-text);

	background-color: var(--color-hero-background-top);
	background-image: linear-gradient(180deg, var(--color-hero-background-top), var(--color-hero-background-bottom));
	color: var(--color-hero-text);
}

// Hero inner element
.hero__inner {
	@extend %layout-inner;
	padding-bottom: var(--spacingvalue-xxxl);
	padding-top: var(--spacingvalue-xxxl);
}

// Hero title element
.hero__title {
	font-family: var(--font-family-heading);
	font-size: var(--font-size-hero);
	line-height: 1;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

// TODO style this
.hero__body {
	text-align: center;
	margin: var(--spacing-line) auto 0 auto;
	max-width: #{$layout-width-mobile};
	color: var(--color-hero-text);
}
