
// Main block
.main {
	@extend %base-typography;

	padding-bottom: var(--spacingvalue-xxxl);
	padding-top: var(--spacingvalue-xxxl);
	overflow: hidden;
}

.main__content,
.main__lhs,
.main__rhs {
	overflow: hidden;

	> :last-child {
		margin-bottom: 0 !important;
	}
}

.main__content,
.main__lhs {
	margin-bottom: var(--spacingvalue-xxl);
	
	@media (min-width: $breakpoint-tablet) {
		@supports (display: grid) {
			margin-bottom: 0;
		}
	}
}
