
// Nav list block
.nav-list {
	@extend %base-typography;

	margin-bottom: var(--spacing-line);
	
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;

		> li:not(:last-child) {
			margin-bottom: var(--spacing-half-line);
		}
	}

	@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
		> ul {
			flex-direction: row;

			> li:not(:last-child) {
				margin-right: var(--spacing-half-line);
				margin-bottom: 0;
			}
		}
	}
}

// Nav list link element
.nav-list__link {
	@extend %base-typography;
	color: inherit;
	display: block;
	text-decoration: none;
	appearance: none;
	border: solid 2px var(--colorvalue-cream-dark);
	background-color: var(--colorvalue-cream);
	box-sizing: border-box;
	padding: var(--spacing-rule) var(--spacing-half-line);
	border-radius: var(--spacingvalue-xxs);
	cursor: pointer;
	width: 100%;
	text-align: left;

	&:hover {
		background-color: var(--colorvalue-cream-dark);
		border-color: var(--colorvalue-cream-darker);
		text-decoration: underline;
	}
}

// Nav list link element, "inline" modifier
.nav-list__link--inline {
	display: inline-block;
	width: auto;
}

// Nav list block, "centered" modifier
.nav-list--centered {
	text-align: center;
}
