
// Notification block
.notification {
	--notification-border-color: var(--colorvalue-cream-dark);
	--notification-background-color: var(--colorvalue-white);

	@extend %base-typography;
	padding: var(--spacing-line);
	border-left: calc(var(--spacing-rule) * 0.5) solid var(--notification-border-color);
	background-color: var(--notification-background-color);
	margin-bottom: var(--spacing-line);

	a {
		@extend %link;
	}

	p, ol, ul {
		margin-top: 0;
		margin-bottom: 0;

		&:not(:last-child) {
			margin-bottom: var(--spacing-half-line);
		}
	}

	ol, ul {
		padding-left: var(--spacing-onepointfive-line);
		ol, ul {
			margin-bottom: 0;
		}
	}
}

// Notification block, "help" modifier
.notification--help {
	--notification-border-color: var(--colorvalue-blue);
	--notification-background-color: var(--colorvalue-blue-light);
}

// Notification block, "info" modifier
.notification--info {
	--notification-border-color: var(--colorvalue-cream-darker);
	--notification-background-color: var(--colorvalue-cream-dark);
}

// Notification block, "warning" modifier
.notification--warning {
	--notification-border-color: var(--colorvalue-yellow-dark);
	--notification-background-color: var(--colorvalue-yellow);
}

// Notification block, "error" modifier
.notification--error {
	--notification-border-color: var(--color-error);
	--notification-background-color: var(--color-error-light);
}
