
// Pagination block
// TODO finish styling this
.pagination {
	@extend %base-typography;

	display: grid;
	column-gap: var(--layout-width-gutter);
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "prev numbers next";
	line-height: var(--spacing-onepointfive-line);
}

// Pagination previous, next, and numbers elements
.pagination__previous > a,
.pagination__next > a {
	border-radius: var(--spacingvalue-xxs);
	color: inherit;
	display: inline-block;
	padding: 0 var(--spacing-half-line);
	text-decoration: none;

	&:hover {
		background-color: var(--colorvalue-cream-dark);
	}
}

// Pagination previous element
.pagination__previous {
	grid-area: prev;
	text-align: left;

	> a::before {
		content: "◀ ";
		font-size: var(--font-size-small);
	}
}

// Pagination next element
.pagination__next {
	grid-area: next;
	text-align: right;

	> a::after {
		content: " ▶";
		font-size: var(--font-size-small);
	}
}

// Pagination numbers element
.pagination__numbers {
	grid-area: numbers;
	text-align: center;
}
