
// Quote block
.quote {	
	--quote-border-color: var(--colorvalue-cream-dark);
	--quote-background-color: var(--colorvalue-cream);
	@extend %base-typography;

	// Using RGBA here fixes a known Safari bug with transparent gradients
	// https://stackoverflow.com/q/38391457/186241
	background-image: linear-gradient(90deg, var(--quote-background-color), rgba(255,255,255,0));

	background-size: var(--spacing-half-line) 100%;
	background-repeat: no-repeat;
	border-left: calc(var(--spacing-rule) * 0.5) solid var(--quote-border-color);
	padding: 0;
	padding-left: var(--spacing-line);

	> blockquote {
		margin: 0;
	}
}

// Quote attribution element
.quote__attribution {
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	font-style: italic;
}
